
\.idea/

data/

old_data/

old_data_s1/

1508894044\.db

CanvasAPITest\.py

chromedriver\.exe

client_secret\.json

config\.txt

current_line\.html

data\.db

ublock\.crx

current_line_s2\.html

current_line_q4\.html
